@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group">
        <div class="input-group-append mb-1">
          <span class="input-group-text" >Search</span>
        </div>
        <input type="text" class="form-control" name="searchTerm" asp-for="SearchTerm">
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
</form>

<hr>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a asp-page="./Detail"
                   asp-route-restaurantId="@restaurant.Id"
                   class="btn btn-outline-primary btn-sm">
                    More Details
                </a>
                <a asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id"
                   class="btn btn-outline-primary btn-sm">
                    Edit
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Add New Restaurant</a>

<div>@Model.Message</div>